- @about_page = AboutPresenter.new(@app.dataset)
= partial("views/boilerplates/foundation/_nav.haml")
%h1 about us
%p #{@about_page.getDataDescription}
%p
  =Thesaurus::getParagraphs(1)
%p
  =Thesaurus::getParagraphs(1)
%p
  =Thesaurus::getSentences(1)

