.hero-unit
  %h1 welcome to appgen
  .row-fluid
    .span4
      .iframe{:src=>"/?seed=5", :styles=>"height: 200px;"}
    .span4
      .iframe{:src=>"/?seed=5"}
    .span4
      .iframe{:src=>"/?seed=5"}