.span12.funnybutton.right
  %a.button{:href=>"", :class=>"button"} Refresh
.hello
  %h1 WELCOME TO APPGEN
  %h2 select an app from below:
  .row-fluid#apps
    .span4#app
      %iframe#frame{:src=>"/a"}
      .funnybutton
        %a{:href=>"#", :class=>"button"} Select
    .span4#app
      %iframe#frame{:src=>"/a"}
      .funnybutton
        %a{:href=>"#", :class=>"button"} Select
    .span4#app
      %iframe#frame{:src=>"/a"}
      .funnybutton
        %a{:href=>"#", :class=>"button"} Select
