.hero-unit
  %h1 welcome to appgen
  .row-fluid
    %h2.span8 select an app from below:
    %a.span4.btn{:href=>""} See more choices
  .row-fluid#apps
    .span4#app
      %iframe#frame{:src=>"/a"}
      %a.btn.btn-success{:href=>"#"} Select
    .span4#app
      %iframe#frame{:src=>"/a"}
      %a.btn.btn-success{:href=>"#"} Select
    .span4#app
      %iframe#frame{:src=>"/a"}
      %a.btn.btn-success{:href=>"#"} Select
