.hero-unit
  %h1 welcome to appgen
  .row-fluid
    .span4
      = HTTParty.get("http://bigappgen.herokuapp.com",{})
    .span4
      = HTTParty.get("http://bigappgen.herokuapp.com",{})
    .span4
      = HTTParty.get("http://bigappgen.herokuapp.com",{})