!!! 5
%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "/css/bootstrap/bootstrap.css"}
    :javascript

      //asynch FB loading

      window.fbAsyncInit = function () {
        FB.init({
          appId: '182489518521691', cookie: true,
          status: true, oauth: true, xfbml: true, channelUrl: 'http://collabfinder.com/channel.html'
        });
        FB.getLoginStatus(function (response) {
          //FB.Event.subscribe('auth.statusChange', Collab.Login.onStatus); // every status change
          //FB.Event.subscribe( 'auth.login', Collab.Login2.loginAuthCallback );
        });
      };

      (function (d) {
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {
        return;
        }

        js = d.createElement('script');
        js.id = id;
        js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));

    .container-fluid
      =yield
