!!! 5
%html
  %head
    %link{:rel => 'stylesheet', :type => 'text/css', :href => "/css/styles.css"}
    %link{:href=>"http://fonts.googleapis.com/css?family=Open+Sans:800,400,300", :rel=>"stylesheet", :type=>"text/css"}
    %script{:src => "http://code.jquery.com/jquery-1.9.1.min.js", :type=>"text/javascript"}
    :javascript
      window.fbAsyncInit = function() {
      FB.init({
      appId      : '509052085822262', // App ID
      channelUrl : '//bigappgen.herokuapp.com/channel.html', // Channel File
      status     : true, // check login status
      cookie     : true, // enable cookies to allow the server to access the session
      xfbml      : true  // parse XFBML
      });

      FB.Event.subscribe('auth.authResponseChange', function(response) { 
        if (response.status === 'connected') {
          testAPI();
        } else if (response.status === 'not_authorized') {
          FB.login();
        } else {
          FB.login();
        }
        });
        };

      // Load the SDK asynchronously
      (function(d){
        var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement('script'); js.id = id; js.async = true;
        js.src = "//connect.facebook.net/en_US/all.js";
        ref.parentNode.insertBefore(js, ref);
      }(document));

      // Here we run a very simple test of the Graph API after login is successful. 
      // This testAPI() function is only called in those cases. 
      function testAPI() {
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        console.log('Good to see you, ' + response.name + '.');
      });
      }

      function toggleDiv(divId) {
        $("#"+divId).toggle();
      }

    .container-fluid
      =yield
      %script{:src=>"http://csvsoundsystem.com/csv.js", :type=>"text/javascript"}
