- @about_page = AboutPresenter.new(@app.dataset)
%header
  .row-fluid
    %a.left{:href=>"/"}  
      %h1 AppGen
    %a.btn.btn-reset.right{:href=>""} Gimme another!
  %p <strong>Dataset Description:</strong> #{@about_page.getDataDescription}
  
%iframe#frame{:src=>"/a"}