%h1.bigtitle AppGen
#fb-root
.connect
  %a.btn{:href=>"/a"} browse apps
.abstract
  %p AppGen is a rapid prototyping tool that allows one to browse the superset of open civic datasets in the form of standalone, fully functional and branded web applications. It takes all the datasets from the <a href="https://nycopendata.socrata.com" target="_blank" class="highlight">NYC Data Portal</a>, analyzes them to find <a href="http://en.wikipedia.org/wiki/Stochastic" target="_blank" class="highlight">stochastic linkages</a>, merges disparate datasets, visualizes them in the form of standalone apps, writes product copy and composes a visual brand. 
  %p Originally conceived as a sarcastic, yet constructive, performance, a la the<a href="http://en.wikipedia.org/wiki/Sokal_affair" target="_blank"class="highlight">Sokal hoax</a>, Appgen intends to critcize the <a href="http://blog.scraperwiki.com/2013/02/26/hip-data-terms/" target="_blank" class="highlight">emptiness</a> of "Big Data" terminology, redundancy of data-driven civic applications and arbitrariness of hackathon judging. However, given that it uniquely targets the superset of civic data, AppGen succeeds in gathering analytics on the join-ability/usability/hack-ability of specific open datasets in relation to each other. Through this quantification, AppGen provides a platform for assessing the success/failure of any govt/dept's open data efforts.
.contact
  %ul
    %li tom levine, data scientist
    %li ashley williams, ruby developer
    %li david riordan, evangelist
  %br/
  <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>