%h1.bigtitle AppGen
#fb-root
.connect
  %a.btn{:href=>"/browse"} browse apps
  %a.btn{:href=>"/audit"} NYC data portal audit
.abstract
  %p AppGen is a rapid prototyping tool that allows one to browse the superset of open civic datasets in the form of standalone, fully functional and branded web applications. It takes all the datasets from the <a href="https://nycopendata.socrata.com" target="_blank" class="highlight">NYC Data Portal</a>, analyzes them to find <a href="http://en.wikipedia.org/wiki/Stochastic" target="_blank" class="highlight">stochastic linkages</a>, merges disparate datasets, visualizes them in the form of standalone apps, writes product copy and composes a visual brand. 
  
  %p AppGen is a joke. Originally conceived as a sarcastic, yet constructive, performance, a la the<a href="http://en.wikipedia.org/wiki/Sokal_affair" target="_blank"class="highlight">Sokal hoax</a>, Appgen intends to critcize the <a href="http://blog.scraperwiki.com/2013/02/26/hip-data-terms/" target="_blank" class="highlight">emptiness</a> of "Big Data" terminology, <a href="http://blogs.hbr.org/cs/2013/03/you_cant_just_hack_your_way_to.html" target="_blank" class="highlight">redundancy</a> of data-driven civic applications, and <a href="http://zzolo.org/thoughts/what-hackathons-really-are" target="_blank" class="highlight">arbitrariness</a> of hackathon judging.

  %p However, AppGen is also a supremely useful analytics tool.q Given that it uniquely targets the superset of civic data, AppGen succeeds in gathering data on the join-ability/usability/hack-ability of specific open datasets in relation to each other. Through this quantification, AppGen provides a platform for assessing the <a href="http://blogs.worldbank.org/opendata/making-open-data-work-for-citizens-four-lessons-from-code4kenya" target="_blank"class="highlight">success</a>/<a href="http://blogs.hbr.org/cs/2012/10/big_data_doesnt_work_if_you_ig.html" target="_blank"class="highlight">failure</a> of any govt/dept's open data efforts.
.contact
  %ul
    %li tom levine, data scientist
    %li ashley williams, ruby developer
    %li david riordan, evangelist
  <fb:login-button show-faces="true" width="200" max-rows="1"></fb:login-button>