#app {
  overflow: visible;
  height: auto;
  text-align: right; 5815812
}

iframe {
  height: 100%;
  width: 100%;
  margin-top: 180px;
}

.funnybutton {
  max-width: 600px;
  margin: 4em auto; 
}

body {
  font-family: "Open Sans", sans-serif;
}

.highlight {
  background: white;
  text-decoration: none;
  color: black;
  font-weight: 800;
  padding: 2px 4px;
}


.btn {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  border: 3px solid;
  padding: 0.25em 0.75em;
  -moz-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  -webkit-box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative; 
  background: white;

}
a:active {
   -moz-box-shadow: 0px 0px 0px 0px;
   -webkit-box-shadow: 0px 0px 0px 0px;
   box-shadow: 0px 0px 0px 0px;
   top: 5px;
   left: 5px; 
}

html, body, pre { margin: 0; padding: 0; width: 100%; height: 100%; }

h1, h2 {
  font-family: "open Sans", sans-serif;
  font-weight: 400;
  line-height: 1em;
  color: white;
}

h1 {
  font-weight: 800;
}

.bigtitle {
  font-weight: 800;
  font-size: 600%;
  color: black;
}

.container-fluid {
  padding-right: 20px;
  padding-left: 20px;
  *zoom: 1;
}

.container-fluid:before,
.container-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.container-fluid:after {
  clear: both;
}

.row-fluid .span4 {
  width: 31.914893617021278%;
  *width: 31.861702127659576%;
  float: left;
}

.row-fluid {
  width: 100%;
  *zoom: 1;
}


.row-fluid {
  width: 100%;
  *zoom: 1;
}

.row-fluid:before,
.row-fluid:after {
  display: table;
  line-height: 0;
  content: "";
}

.row-fluid:after {
  clear: both;
}
.hello {
  background: black;
  padding: 0.25em 0.75em;
}

.right {
  float: right;
}

.left {
  float: left;
}

header {
  position: absolute;
  width: 100%;
  background: black;
  top: 0;
  margin: 0 -20px;
  height: 120px;
  line-height: 1em;
  color: white;
  overflow: auto;
  padding: 10px;
}

a {
  text-decoration: none;
}

section {
  margin: 10px;
}

.subtitle {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.supset {
  border: black 2px dotted;
  margin: 20px;
  padding: 20px;
}