- @about_page = AboutPresenter.new(@app.dataset)
= partial("views/boilerplates/bootstrap/_nav.haml")
%h1 about us
%p
  =@app.description
%p
  =@app.collabfinder_what
%p
  =@app.collabfinder_why
%p
  =@app.collabfinder_need
